# Rust build output and metadata
target/
**/target/

# Rust package lock file
*.lock

# Rust toolchains and environment configs
.cargo/
.rustup/

# Ignore all bindings.rs files
**/bindings.rs
tests/src/bindings.rs

# Ignore Nix flake lock files
flake.lock
**/flake.lock

**/*.wasm
